@font-face {
  font-family: Gotham;
  src: url(./assets/fonts/GothamBook.ttf);
}
@font-face {
  font-family: GothamMedium;
  src: url(./assets/fonts/GothamMedium.ttf);
}
body {
  font-family: 'Gotham', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  display: block;
  width: 140px;
  height: 30px;
  margin: 0 auto;
  max-width: 100%;
  background: url(/img/watchshop-logo.svg) no-repeat left center;
  background-size: contain;
}
.nav-item {
  font-weight: 600;
  font-size: 14px;
}
.dropdown-item {
  font-family: 'Gotham', sans-serif !important;
  font-size: 14px;
}
.bienvenidos h1 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}
.carrito{
  margin-left: 20px;
  font-size: 14px;
}
.itemlist{
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card{
  margin: 10px!important;
}
.card-body {
  padding: 0!important;
}
.right{
  float:right;
}
.container-form{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.idorder{

  width: auto;
  height: auto;
  padding: 10px;
  overflow: hidden;
  background-color: brown;
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 100px;
}
.space{
  height: 200px;
}